.header {background-color: rgb(93, 93, 141);}
.navigation {background-color: rgb(146, 131, 108);}
.estimate_repare{background-color: rgb(40, 128, 59);}
.contacts_footer {background-color: rgb(166, 160, 172);

}
.our_possible {background-color: rgb(72, 72, 235);}
.footer {background-color: aqua;
width: 100%;
height: 80px;
}
